
@viewport
{
    width:320px;
}

html, body {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
}
body {
    font-size: 1em;
    line-height: 1;
    font-family: 'Arial', sans-serif;
}
h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* ---------------table */
td {
    white-space: nowrap;
    padding-right: 1em;
    padding-left: 0.5em;
    border: 1px solid;
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 100%;
}
th {
    border: 1px solid;
    border-bottom: 2px solid;
}
.table {
    display: table;
}
.tableCellMiddle {
    display: table-cell;
    vertical-align: middle;
}
.footer td {
    font-weight: bold;
}
.colorTrSelected {
    background-color: rgb(178, 178, 178);
}


.buttonDisable {
    background: rgba(0, 0, 0, 0.37);
}

input[type=button]:active {
    background: rgba(0, 0, 0, 0.39);
}

.highlightOpacity {
    opacity: 0.3;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.highlight {
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background:rgb(255,255,255) !important;
    background: transparent\9 !important;
    background:rgba(0,0,0,0.5) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cFFFFFF,endColorstr=#4cFFFFFF);
}

.highlightOpacity {
    opacity: 0.5;
}

.textLeft {
    text-align: left;
}

span {
    font-size: 1.2em;
}


div.mainTop {
    width: 100%;
    text-align: center;
}
.mainTop h1 {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}
.mainTop .buttonTopMenu {
    position: absolute;
    left: 3%;
}
.mainTop div.find {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 80px;
    text-align: center;
}
.mainTop input {
    /* margin-top: 100px; */
    width: 40%;
    background-image: url(../img/vyhledavani.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: 60px;
    text-indent: 0.3em;
}





/* --------- menu */
div.menu {
    top: 50px;
    z-index: 1000;
    position: absolute;
    bottom: 0px;
    border-right: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 5px 5px 5px #888888;
}
.menu div.objednavky {
    background-image: url(../img/objednavky.png);
}
.menu div.sklad {
    background-image: url(../img/sklad.png);
}
.menu div.zakaznici {
    background-image: url(../img/zakaznici.png);
}
.menu div.trzba {
    background-image: url(../img/denni_trzba.png);
}
.menu div.nastaveni {
    background-image: url(../img/nastaveni.png);
}
.menu div {
    height: 60px;
    background-position: 12px 8px;
    background-size: 50px;
    padding-left: 80px;
    cursor: pointer;
    vertical-align: middle;
    background-repeat: no-repeat;
}

/* ============================================ content a top*/

.main div.mainContent {
    position: absolute;
    width: 100%;
}
/*
.main div.mainBottom {
    display: none;
}
*/
/* --------- content zakazniciSeznam */
div.mainContent.zakazniciSeznam {
    position: absolute;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    width: 100%;
}

.mainContent.zakazniciSeznam ul {
    padding-right: 4px;
    padding-left: 2px;
}
.mainContent.zakazniciSeznam li {
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    background: #dddddd;
    margin-top: 1px;
    cursor: pointer;
}
.mainContent.zakazniciSeznam h2 {
    font-size: 1em;
    line-height: 20px;
    font-weight: normal;
    padding-left: 1em;
}

/* --------- content zakaznikDetail */
.mainTop div.zakazniciDetail {
    top: 80px;
}
.mainTop .zakazniciDetail .left div.borderDiv {
    background-image: url(../img/smazat.png);
}
.mainTop .zakazniciDetail .right div.borderDiv {
    background-image: url(../img/editace.png);
}

.zakazniciDetail h1 {
    text-align: center;
}

.zakazniciDetail li {
    display: table;
    width: 100%;
    padding-bottom: 0.5em;
}
.zakazniciDetail span {
    display: table-cell;
    width: 5em;
    text-indent: 0.2em;
}
div.zakazniciDetail {
    width: 100%;
    position: absolute;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.mainContent.zakazniciDetail input {
    display: table-cell;
    width: 100%;  
    border: 1px solid #dddddd;  border-radius: 5px;    margin-top: 1px;  cursor: pointer;
    line-height: 2em;
    text-indent: 0.5em;
    background:  #dddddd;
}
.mainBottom.zakazniciDetail .zdButtonObjednat .borderDiv {
    background-image: url(../img/objednat.png);
}
.mainBottom.zakazniciDetail .zdButtonSms .borderDiv {
    background-image: url(../img/sms.png);
}
.mainBottom.zakazniciDetail .zdButtonEmail .borderDiv {
    background-image: url(../img/email.png);
}
.mainBottom.zakazniciDetail .zdButtonVolat .borderDiv {
    background-image: url(../img/volat.png);
}
/* --------- content sklad */
.mainContent.skladSeznam {
    bottom: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.skladSeznam .ui-content.content {
    font-size: 16px;
    padding: 0px;
}
.ui-table-columntoggle-btn.ui-btn.ui-btn-a.ui-corner-all.ui-shadow.ui-mini
{
    border-radius: 0px;
    border-color: black;
}
.mainContent.skladSeznam {
}

/* --------- content objednavkySeznam */
.objednavkySeznam .tabulky {
    position: absolute;
    top: 82px;
    bottom: 0px;
    width: 100%;
}
.objednavkySeznam .margin {
    margin-left: 5px;
}
.objednavkySeznam .uzivatel .oneButton {
    float: right;
}
.objednavkySeznam .tabulka {
    border: 2px solid;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.objednavkySeznam .tabulka td {
    text-align: left;
}
.objednavkySeznam .tabulka tr td:first-child {
    width: 1em;
}
.objednavkySeznam .hodina {
    width: 1em;
}

/* --------- content objednavkyEdit */
#objednavkyEdit {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
    z-index: 2000;
}
.objednavkyEdit .table {
    width: 100%;
    height: 100%;
}
.objednavkyEdit .objednavka {
    width: 80%;
    margin: auto;
    background: white;
    padding: 5% 5%;
}
.objednavkyEdit span {
    line-height: 1.5em;
    display: inline-block;
    width: 4em;
}
.objednavkyEdit span.zakaznik {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
    text-align: center;
}

/* --------- content trzby */
.mainContent.trzbySeznam {
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
.trzbySeznam .ui-content.content {
    font-size: 16px;
    padding: 0px;
    overflow: scroll;
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 81px;
    -webkit-overflow-scrolling: touch;
}

.trzbySeznam div.content.sluzby, .trzbySeznam div.content.prodej {
    display: none;
}

.trzbyTypColor {
    background: rgba(36, 255, 0, 0.36);
}
.buttons.stepper  {
    height: 81px;
}
.buttons.stepper .sipka {
    height: 80px;
    width: 30px;
    background-position: 50%;
    background-size: 70px;
    padding-left: 80px;
    cursor: pointer;
    vertical-align: middle;
    background-repeat: no-repeat;
    border: 1px solid;
}

.buttons.stepper .text{
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding-top: 1em;
}
.buttons.stepper .jmeno {
    font-weight: normal;
    cursor: pointer;
}
.buttons.stepper .prijmeni {
    font-weight: normal;
    cursor: pointer;
    padding-top: 0.5em !important;
}
.buttons.stepper .left {
    background-image: url(../img/sem.png);
    float: left;
}
.buttons.stepper .right {
    background-image: url(../img/tam.png);
    float: right;
}


/* --------- content nastaveni */
.mainContent.nastaveni {
    text-align: center;
}
.mainContent.nastaveni h1, .mainContent.nastaveni input {
    margin-top: 1em;
}
.mainContent.nastaveni input {
    width: 80%;
    text-align: center;
}
.mainContent.nastaveni .heslo h1 {
    font-size: 1.5em;
}
.mainContent.nastaveni .heslo input {
    width: 40%;
    margin-top: 10px;
}
/* --------- content info */
.special.info {
    position: absolute;
    right: 0px;
    top: 80px;
    bottom: 100px;
    left: 0px;
    background: rgba(128, 128, 128, 0.5);
    z-index: 1500;
}
.special.info h1{
    top: 50%;
    position: absolute;
    margin-top: -1em;
    width: 100%;
    text-align: center;
    color: #ffffff;
}
.symbolLoading {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -8em;
}
.symbolLoading i {
    font-size: 14em;
    color: rgb(145, 145, 145);
}
/* --------- content cover */
.special.cover {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: grey;
    z-index: 1500;
}
/* --------- content jumpList */
.jumpList {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1500;
}
.jumpList > div
{
    display: inline-block;
    width: 18%;
    height: 15%;
    text-align: center;
    background: rgba(128, 128, 128, 0.9);
    margin: 1%;
    position: relative;
    vertical-align: top;
}
.jumpList > div > div
{
    position: absolute;
    bottom: 5%;
    right: 5%;
}

/* --------- content welcome */
.mainContent.welcome {
    position: absolute;
}
.mainContent.welcome h1 {
     text-align: center;
     padding-left: 80px;
     margin-top: 50px;
 }

.mainContent.welcome div.wrap {
    width: 156px;
    height: 162px;
    left: 200px;
    margin: auto;
    margin-top: 60px;
}
.mainContent.welcome .wrap div {
    width: 156px;
    height: 162px;
    left: 200px;
    margin-left: 40px;
    background-image: url(../img/nove_logo_02.png);
    background-repeat: no-repeat;
}

/* ----------------------------------------------- bottom */
/* ------------------------ spolecne bottom */
div.mainBottom {
    width: 100%;
    position: fixed;
    float: left;
    bottom: 0px;
    left: 0px;
    text-align: center;
    border-top: 1px solid black;
}
input.bottomSearch {
    display: inline-block;
}
input.buttonBottomRight {
    position: absolute;
    right: 1%;
}

.twoButtons div.borderDiv {
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 40px 6px;
}
.twoButtons div.button {
    display: inline-block;
    width: 50%;
    height: 100%;
}
.twoButtons div.button > div {
    border: 1px solid;
    height: 58px;
}
.twoButtons div.labelDiv {
    padding-top: 35px;
    padding-left: 90px;
}
.oneButton {
    border: 1px solid;
    padding: 2px 10px;
    display: inline-block;
}

/* ------------------------ zakazniciDetail bottom */

div.mainBottom.zakazniciDetail {
    overflow: hidden;
}


div.mainBottom.zakazniciDetail input {
    cursor: pointer;
    vertical-align: middle;
    background-repeat: no-repeat;
}
/* ------------------------ zakazniciSeznam a nastaveni bottom */

/* ------------------------ zakazniciSeznam bottom */
.mainBottom.zakazniciSeznam div.left .borderDiv {
    background-image: url(../img/refresh.png);
}
.mainBottom.zakazniciSeznam .right .borderDiv {
    background-image: url(../img/pridat.png);
}
/* ------------------------ nastaveni bottom */
.mainBottom.zakazniciSeznam div.left .borderDiv {
    background-image: url(../img/refresh.png);
}
.mainBottom.zakazniciSeznam .right .borderDiv {
    background-image: url(../img/pridat.png);
}


.mainBottom.objednavky div.left {
    background-image: url(../img/kalendarPrepinacDen.png);
}
.mainBottom.objednavky .right {
    background-image: url(../img/kalendarPrepinacDny.png);
}
.mainBottom.objednavky .labelDiv {
    background-repeat: no-repeat;
    background-position: 40px 16px;
    padding-bottom: 25px;
}

.gradSeda {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #c4c4c4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c4c4c4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#c4c4c4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#c4c4c4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#c4c4c4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#c4c4c4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c4c4c4',GradientType=0 ); /* IE6-9 */

}























label.css-label{
    margin-left: 20px;
}

input[type=radio].css-checkbox {
    display:none;
}
label.css-label {
    background-image:url(../img/radio.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=radio].css-checkbox + label.css-label {
    padding-left:34px;
    height:25px;
    display:inline-block;
    line-height:25px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;
    background-size: 25px;

}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -25px;
}

/* --------- hamburger */
a#nav-toggle
{
    display: block;
    vertical-align: middle;
    top: 20px;
    background: black;
    width: 50px;
    height: 45px;
}
#nav-toggle span {
    left: 4px;
    top: 45%;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 42px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}

div#nav-toggle2 {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 48px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}
.menuRight
{
    background-image:url(../img/menu1transparent.png);
}
.menuLeft
{
    background-image:url(../img/menu1zpetTransparent.png);
}
.buttonTopMenu {
    background-position: 9px 8px;
    background-repeat: no-repeat;
    background-size: 60px;
}

/* --------- tlac zpet */
div#rowLeft {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 3%;
    width: 92px;
    height: 46px;
}
#rowLeft span {
    position: absolute;
    left: 22px;
    top: 11px;
    font-weight: bold;
}

#rowLeft {
    display: inline-block;
    position: absolute;
    top: 40%;
    margin-left: -10px;

}
#rowLeft:before, #rowLeft:after {
    content: "";
    position: absolute;
    background: white;
    left: 0px;
}
#rowLeft:before {
    top: 0px;
    left: 15px;
    width: 77px;
    height: 46px;
}
#rowLeft:after {
    border-top: 23px solid transparent;
    border-right: 15px solid white;
    border-bottom: 23px solid transparent;
    background: transparent;
}
/* --------- tlac pridat */
div#pridat {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 48px;
    border-left: 2px solid;
    border-bottom: 2px solid;
}
#pridat span {
    line-height: 50px;
    
}


/* --------- translate3d */



div.menu {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}
div.menu.right3d {
    -webkit-transform: translate3d(0, 0, 0)  !important;
    transform: translate3d(0, 0, 0) !important;
}

div.menu.right {
    left: 0 !important;
}





#verzeApp {
    position: fixed;
    right: 0px;
    bottom: 0px;
}



/* -------------------------------------------------------------- media queries */
@media only screen and (min-width: 0px)  and (max-width: 319px) {
    body {
        font-size: 12px;
    }

    div.mainTop {
        height: 50px;
    }

    .mainTop input {
        margin-top: 16px;
        font-size: 1em;
        background-size: 20px;
    }

    .mainTop h1 {
        line-height: 50px;
    }


    .mainTop div.zakazniciDetail {
        top: 50px;
    }
    div#rowLeft {
        top: 3px;
    }
    #rowLeft span {
        line-height: 1.5em;
        font-size: 1.5em;
    }

    div.mainContent {
        top: 50px;
        bottom: 64px;
    }

    .mainContent .welcome h1 {
        padding-left: 100px;

    }

    /* --------- content zakazniciSeznam */
    .mainContent.zakazniciSeznam li {
        height: 40px;
    }

    .mainContent.zakazniciSeznam h2 {
        font-size: 1em;
        line-height: 40px;
    }

    /* --------- content zakazniciDetail */
    .mainContent.zakazniciDetail ul {
        padding: 10px;
        padding-right: 15px;
    }

    .mainContent.zakazniciDetail h1 {
        padding: 2%;
    }

    .zakazniciDetail input {
        font-size: 1em;
    }

    div.mainContent.zakazniciDetail {
        top: 110px;
        bottom: 0px;
    }

    div.mainContent.zakazniciDetail.withBottom4buttons {
        bottom: 122px;
    }

    /* --------- content nastaveni */
    .mainContent.nastaveni input {
        font-size: 1em;

    }

    div.mainBottom {
        height: 60px;
    }

    input.buttonBottomRight {
        bottom: 40px;
    }

    /* --------- content zakazniciDetail */
    div.mainBottom.zakazniciDetail {
        height: 120px;
    }

    div.mainBottom.zakazniciDetail input {
        height: 100px;
        width: 50%;
        background-position: 40px 6px;
        background-size: 80px;
        padding-left: 120px;
    }

    /* --------- content sklad */
    .mainContent.skladSeznam {
        font-size: 70%;
    }

    /* --------- content trzby */
    .mainContent.trzbySeznam {
        font-size: 70%;
    }

    .special.info {
        top: 50px;
        bottom: 60px;
    }

    .twoButtons div.borderDiv {
        background-size: 50px;
        background-position: 15px 6px;
    }

    .twoButtons div.labelDiv {
        padding-top: 25px;
        padding-left: 30px;
    }


}
@media only screen and (min-width: 320px)  and (max-width: 400px) {
    body {
        font-size: 12px;
    }

    div.mainTop {
        height: 50px;
    }

    .mainTop input {
        margin-top: 9px;
        font-size: 2em;
        background-size: 35px;
    }

    .mainTop h1 {
        line-height: 50px;
    }

    .mainTop div.zakazniciDetail {
        top: 50px;
    }
    div#rowLeft {
        top: 3px;
    }
    #rowLeft span {
        line-height: 1.5em;
        font-size: 1.5em;
    }

    div.mainContent {
        top: 50px;
        bottom: 64px;
    }

    .mainContent .welcome h1 {
        padding-left: 100px;

    }

    /* --------- content zakazniciSeznam */
    .mainContent.zakazniciSeznam li {
        height: 40px;
    }

    .mainContent.zakazniciSeznam h2 {
        font-size: 1em;
        line-height: 40px;
    }

    /* --------- content zakazniciDetail */
    .mainContent.zakazniciDetail ul {
        padding: 10px;
        padding-right: 15px;
    }

    .mainContent.zakazniciDetail h1 {
        padding: 2%;
    }

    .zakazniciDetail input {
        font-size: 1em;
    }

    div.mainContent.zakazniciDetail {
        top: 110px;
        bottom: 0px;
    }

    div.mainContent.zakazniciDetail.withBottom4buttons {
        bottom: 122px;
    }

    /* --------- content nastaveni */
    .mainContent.nastaveni input {
        font-size: 1em;

    }

    div.mainBottom {
        height: 60px;
    }

    input.buttonBottomRight {
        bottom: 40px;
    }

    /* --------- content zakazniciDetail */
    div.mainBottom.zakazniciDetail {
        height: 120px;
    }

    div.mainBottom.zakazniciDetail input {
        height: 100px;
        width: 50%;
        background-position: 40px 6px;
        background-size: 80px;
        padding-left: 120px;
    }

    /* --------- content sklad */
    .mainContent.skladSeznam {
        font-size: 100%;
    }

    /* --------- content trzby */
    .mainContent.trzbySeznam {
        font-size: 100%;
    }

    .special.info {
        top: 50px;
        bottom: 60px;
    }

    .twoButtons div.borderDiv {
        background-size: 50px;
        background-position: 15px 6px;
    }

    .twoButtons div.labelDiv {
        padding-top: 25px;
        padding-left: 30px;
    }

}






@media only screen and (min-width: 401px)  and (max-width: 659px) {
    body {
        font-size: 24px;
    }
    div.mainTop {
        height: 80px;
    }
    .mainTop input {
        margin-top: 18px;
        font-size: 1.5em;

        background-size: 45px;
    }

    .mainTop h1 {
        line-height: 90px;
    }



    div.mainContent {
        top: 80px;
        bottom: 100px;
    }

    .mainContent.welcome h1 {
        padding-left: 140px;

    }

    div#nav-toggle2 {
        height: 78px;

        width: 110px;
    }
    div#pridat {
        height: 78px;
        width: 110px;
    }
    #pridat span {
        line-height: 80px;
    }
    div.menu {
        top: 80px;

    }

    .menu div {
        background-position: 12px 8px;
        background-size: 70px;

        padding-left: 110px;
        height: 90px;
    }

    .buttonTopMenu {
        background-position: 12px 15px;
        background-size: 80px;

    }

    /* --------- components */
    .twoButtons div.button > div
    {
        height: 98px;

    }
    .twoButtons div.borderDiv {
        background-size: 70px;

        background-position: 17% 13px;
    }
    /* --------- top zakazniciSeznam */
    .mainTop div.zakazniciDetail {
        top: 80px;
    }

    /* --------- content zakazniciSeznam */
    .mainContent.zakazniciSeznam h2 {
        font-size: 1em;
        line-height: 3em;

    }

    /* --------- content zakazniciDetail */
    .mainContent.zakazniciDetail ul {
        padding: 10px;
        padding-right: 15px;
    }
    .mainContent.zakazniciDetail h1 {
        padding: 2%;
    }
    .zakazniciDetail input {
        font-size: 1em;
    }

    div.mainContent.zakazniciDetail {
        top: 180px;
        bottom: 0px;
    }

    div.mainContent.zakazniciDetail.withBottom4buttons {
        bottom: 200px;
    }

    /* --------- content nastaveni */
    .mainContent.nastaveni input{
        font-size: 1em;

    }





    div.mainBottom {
        height: 100px;
    }
    input.buttonBottomRight {
        bottom: 40px;
    }

    /* --------- content zakazniciDetail */
    div.mainBottom.zakazniciDetail {
        height: 200px;
    }


    div.mainBottom.zakazniciDetail input {
        height: 100px;
        width: 50%;
        background-position: 40px 6px;
        background-size: 80px;
        padding-left: 120px;
    }


    /* --------- content sklad */
    .mainContent.skladSeznam {
        font-size: 130%;
    }
    .mainContent.skladSeznam table {
        font-size: 150%;
    }

    /* --------- content trzby */
    .trzbySeznam .ui-content.content {
        top: 142px;}
    .mainContent.trzbySeznam {
        font-size: 130%;
    }
    .buttons.stepper .text {
        padding-top: 1em;
    }
    .mainContent.trzbySeznam table {
        font-size: 150%;
    }
    /* --------- content objednavkyEdit */
    .objednavkySeznam .tabulky {
        top: 142px;
    }
    .objednavkyEdit select {
        font-size: 1.2em;
    }
    .buttons.stepper .sipka {
        height: 140px;
        width: 60px;
    }

}




@media only screen and (min-width: 660px)  and (max-width: 959px) {
    body {
        font-size: 34px;
    }
    div.mainTop {
        height: 100px;
    }
    .mainTop input {
        margin-top: 18px;
        font-size: 1.5em;

        background-size: 45px;
}

    .mainTop h1 {
        line-height: 90px;
    }



    div.mainContent {
        top: 100px;
        bottom: 100px;
    }

    .mainContent.welcome h1 {
        padding-left: 160px;

    }

    div#nav-toggle2 {
        height: 98px;

        width: 120px;
}
    div#pridat {
        height: 98px;
        width: 120px;
}
#pridat span {
    line-height: 90px;
}
div.menu {
    top: 100px;

}

.menu div {
    background-position: 12px 8px;
    background-size: 70px;

    padding-left: 110px;
    height: 90px;
}

.buttonTopMenu {
    background-position: 15px 25px;
    background-size: 80px;

}

/* --------- components */
.twoButtons div.button > div
{
    height: 98px;

}
.twoButtons div.borderDiv {
    background-size: 70px;

    background-position: 17% 13px;
}
 /* --------- top zakazniciSeznam */
    .mainTop div.zakazniciDetail {
top: 100px;
}

    /* --------- content zakazniciSeznam */
    .mainContent.zakazniciSeznam h2 {
        font-size: 1em;
        line-height: 3em;
    
}

    /* --------- content zakazniciDetail */
    .mainContent.zakazniciDetail ul {
        padding: 10px;
        padding-right: 15px;
    }
    .mainContent.zakazniciDetail h1 {
        padding: 2%;
    }
    .zakazniciDetail input {
        font-size: 1em;
    }

    div.mainContent.zakazniciDetail {
        top: 180px;
        bottom: 0px;
    }

    div.mainContent.zakazniciDetail.withBottom4buttons {
        bottom: 200px;
    }

    /* --------- content nastaveni */
    .mainContent.nastaveni input{
        font-size: 1em;

    }





    div.mainBottom {
        height: 100px;
    }
    input.buttonBottomRight {
        bottom: 40px;
    }

    /* --------- content zakazniciDetail */
    div.mainBottom.zakazniciDetail {
        height: 200px;
    }


    div.mainBottom.zakazniciDetail input {
        height: 100px;
        width: 50%;
        background-position: 40px 6px;
        background-size: 80px;
        padding-left: 120px;
    }


    /* --------- content sklad */
    .mainContent.skladSeznam {
        font-size: 130%;
    }
    .mainContent.skladSeznam table {
    font-size: 250%;
    }

    /* --------- content trzby */
    .trzbySeznam .ui-content.content {
        top: 160px;}
    .mainContent.trzbySeznam {
        font-size: 130%;
    }
    .buttons.stepper .text {
        padding-top: 0.5em;
    }
    .mainContent.trzbySeznam table {
        font-size: 250%;
    }
    /* --------- content objednavkyEdit */
    .objednavkySeznam .tabulky {
        top: 162px;
    }
    .objednavkyEdit select {
        font-size: 1.2em;
    }
    .buttons.stepper .sipka {
        height: 160px;
        width: 80px;
    }

}



@media only screen and (min-width: 960px)  and (max-width: 1279px) {
    body {
        font-size: 24px;
    }
    div.mainTop {
        height: 80px;
    }
    .mainTop input {
        margin-top: 10px;
        font-size: 2em;
    }

    .mainTop h1 {
        line-height: 80px;
    }



    div.mainContent {
        top: 80px;
        bottom: 100px;
    }

    .mainContent.welcome h1 {
        padding-left: 100px;

    }

    div#nav-toggle2 {
        height: 78px;

        width: 110px;
    }
    div.menu {
        top: 80px;

    }

    .menu div {
        background-position: 12px 8px;
        background-size: 70px;

        padding-left: 110px;
        height: 90px;
    }

    .buttonTopMenu {
        background-position: 12px 15px;
        background-size: 80px;

    }

    /* --------- components */
    .twoButtons div.button > div
    {
        height: 98px;

    }
    .twoButtons div.borderDiv {
        background-size: 70px;

        background-position: 17% 13px;
    }

    /* --------- content zakazniciSeznam */
    .mainContent.zakazniciSeznam li {
        height: 60px;
    }
    .mainContent.zakazniciSeznam h2 {
        font-size: 1em;
        line-height: 60px;
    }

    /* --------- content zakazniciDetail */
    .mainContent.zakazniciDetail ul {
        padding: 10px;
        padding-right: 15px;
    }
    .mainContent.zakazniciDetail h1 {
        padding: 2%;
    }
    .zakazniciDetail input {
        font-size: 1em;
    }

    div.mainContent.zakazniciDetail {
        top: 180px;
        bottom: 0px;
    }

    div.mainContent.zakazniciDetail.withBottom4buttons {
        bottom: 200px;
    }

    /* --------- content nastaveni */
    .mainContent.nastaveni input{
        font-size: 1em;

    }

    /* --------- content sklad */
    .mainContent.skladSeznam {
    /*   font-size: 130%;*/
   }

   /* --------- content trzby */
    .mainContent.trzbySeznam {
        /*   font-size: 130%;*/
    }



    div.mainBottom {
        height: 100px;
    }
    input.buttonBottomRight {
        bottom: 40px;
    }

    /* --------- content zakazniciDetail */
    div.mainBottom.zakazniciDetail {
        height: 200px;
    }

    div.mainBottom.zakazniciDetail input {
        height: 100px;
        width: 50%;
        background-position: 40px 6px;
        background-size: 80px;
        padding-left: 120px;
    }


    .ui-mobile label, div.ui-controlgroup-label {
        font-size: 24px;
    }


}






@media only screen and (min-width: 1280px)  and (max-width: 1599px) {
    body {
        font-size: 24px;
    }
    div.mainTop {
        height: 80px;
    }
    .mainTop input {
        margin-top: 10px;
        font-size: 2em;
    }

    .mainTop h1 {
        line-height: 80px;
    }



    div.mainContent {
        top: 80px;
        bottom: 100px;
    }

    .mainContent.welcome h1 {
        padding-left: 100px;

    }

    div#nav-toggle2 {
        height: 78px;

        width: 110px;
    }
    div.menu {
        top: 80px;

    }

    .menu div {
        background-position: 12px 8px;
        background-size: 70px;

        padding-left: 110px;
        height: 90px;
    }

    .buttonTopMenu {
        background-position: 12px 15px;
        background-size: 80px;

    }

    /* --------- components */
    .twoButtons div.button > div
    {
        height: 98px;

    }
    .twoButtons div.borderDiv {
        background-size: 70px;

        background-position: 17% 13px;
    }

    /* --------- content zakazniciSeznam */
    .mainContent.zakazniciSeznam li {
        height: 60px;
    }
    .mainContent.zakazniciSeznam h2 {
        font-size: 1em;
        line-height: 60px;
    }

    /* --------- content zakazniciDetail */
    .mainContent.zakazniciDetail ul {
        padding: 10px;
        padding-right: 15px;
    }
    .mainContent.zakazniciDetail h1 {
        padding: 2%;
    }
    .zakazniciDetail input {
        font-size: 1em;
    }

    div.mainContent.zakazniciDetail {
        top: 180px;
        bottom: 0px;
    }

    div.mainContent.zakazniciDetail.withBottom4buttons {
        bottom: 200px;
    }

    /* --------- content nastaveni */
    .mainContent.nastaveni input{
        font-size: 1em;

    }


    /* --------- content sklad */
    .mainContent.skladSeznam {
        font-size: 100%;
    }

    /* --------- content trzby */
    .mainContent.trzbySeznam {
        font-size: 180%;
    }


    div.mainBottom {
        height: 100px;
    }
    input.buttonBottomRight {
        bottom: 40px;
    }

    /* --------- content zakazniciDetail */
    div.mainBottom.zakazniciDetail {
        height: 200px;
    }

    div.mainBottom.zakazniciDetail input {
        height: 100px;
        width: 50%;
        background-position: 40px 6px;
        background-size: 80px;
        padding-left: 120px;
    }





}
@media only screen and (min-width: 1600px)  and (max-width: 1919px) {

}
@media only screen and (min-width: 1920px) {

}